* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;

    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

html, body{
    font-size: 1.6rem;
}

body {
    background-color: var(--light-purple);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1200px) {
    .grid,
    .grid-col-3,
    .grid-col-4 {
        grid-template-columns: 1fr;
    }
}