.content {
    display: flex;
    width: 30rem;
    height: 4.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    filter: drop-shadow(0 .1rem .2rem rgba(0, 0, 0, 0.25))
}

.content input[type=search] {
    flex: 1;
    height: 100%;
    background-color: var(--dark-bg);
    color: var(--light-purple);
    border: none;
    padding-left: 2.5rem;
    border-radius: .4rem 0 0 .4rem;
}

.content input[type=search]::placeholder {
    color: var(--light-purple);
}

.content input[type=search]:focus {
    border: none;
    outline: none;
}

.content button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 2.3rem;
    padding-block: 1rem;
    background-color: var(--button-bg);
    border-radius: 0 .4rem .4rem 0;
    border: none;
    outline: none;
    height: 100%;
    transition-duration: .4s;
}

.content button:hover {
    background-color: #9350c4;
}

.content button:active {
    background-color: #7837a7;
}
